---
layout: default
---
<div class="col-lg-12">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <ul>
          <div class="row">
              <div class="card blog-post">
                  <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ post.thumbnail }}" alt="{{ post.title }}">
                  <div class="card-body center">
                      <h4 class="card-title">
                        <a href="https://github.com/sameer-j" target="_blank">Github Projects</a>
                      </h4>
                  </div>
              </div>
          </div>
      </ul>
    </div>
  </div>
 </div>